.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 1.5%;
  border-bottom: 2px rgb(0, 0, 0) solid;
}
.task h4 {
  max-width: 80%;
  word-wrap: break-word;
}
.done-btn {
  height: 50%;
}
.Task_Number {
  color: rgb(255, 72, 0);
}
.taskBtns {
  width: 20%;
  display: flex;
  justify-content: space-between;
}
